@use "../../Assets/Scss/media-queries.scss" as *;

/*############################### Declarations ###############################*/
$purple-img: brightness(0) saturate(100%) invert(23%) sepia(98%) saturate(3673%)
  hue-rotate(246deg) brightness(103%) contrast(108%);
/*############################### Declarations ###############################*/

.main {
  margin: 20px 0px;

  @include lt-xxl {
    margin: 10px 0px;
  }

  label {
    font-size: 13px;
    font-weight: 500;
    color: var(--title-big);
    margin: 0px;
    display: block;

    @include lt-xxl {
      font-size: 12px;
    }
  }

  input {
    display: block;
    width: 100%;
    padding: 12px 15px;
    margin: 6px 0px 0px 0px;
    border: solid 1px #bbbbbb;
    border-radius: 8px;
    outline: none;
    transition: all 0.2s;

    @include lt-xxl {
      padding: 11px 12px;
      margin: 5px 0px 0px 0px;
    }

    &:focus {
      border: solid 1px var(--normal-purple);
      box-shadow: 0 0 10px 0 rgba(99, 60, 255, 0.25);
    }
  }
}
