@use "../../Assets/Scss/media-queries.scss" as *;

.main {
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding: 15px 25px;
  text-align: center;
  border-radius: 8px;

  transition: all 0.2s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;

  @include lt-xxl {
    padding: 13px 22px;
    font-size: 17px;
  }

  @include lt-md {
    padding: 12px 20px;
    font-size: 16px;
  }
}

.filled {
  background-color: var(--normal-purple);
  border: 1px solid var(--normal-purple);
  color: white;
}

.outlined {
  //   background-color: var(--light-purple);
  background-color: white;
  border: 1px solid var(--normal-purple);
  color: var(--normal-purple);

  &:hover {
    background-color: var(--light-purple);
  }
}
