@use "../../Assets/Scss/media-queries.scss" as *;

.main {
  width: 100%;
  background-color: var(--comp-background);
  border-radius: 0.75rem;
  padding: 25px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include lt-xxl {
    border-radius: 0.55rem;
    padding: 20px 15px;
  }

  .logo {
    height: 40px;

    @include lt-xxl {
      height: 35px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
