@use "./Assets/Scss/media-queries.scss" as *;

//############################ Colors #######################

:root {
  --page-background: #f6f6f6;
  --comp-background: #ffffff;
  --grey1: #737373;
  --light-purple: #efebff;
  --normal-purple: #633cff;
  --title-big: #333333;
}

//############################ SCROLL #######################

::-webkit-scrollbar {
  width: 10px;

  @include lt-sm {
    width: 0px;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--normal-purple);
  border-radius: 500px;
}

// ::-webkit-scrollbar-track {
//   background-color: rgba(217, 217, 217, 0.46);
// }

//############################ FONTS #######################

@font-face {
  font-family: "InstrumentSans";
  src: url("./Assets/Fonts/InstrumentSans-VariableFont_wdth.ttf");
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Black.ttf");
  font-weight: 900;
}

//############################ COMMON #######################

body {
  margin: 0;
  padding: 0;
  background-color: var(--page-background);
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  font-family: "InstrumentSans";
  user-select: none;
}

a {
  text-decoration: none;
}
