@use "./Assets/scss/media-queries.scss" as *;

//############################ COMMON #######################

body {
  margin: 0;
  padding: 0;
  // min-width: 1500px;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

//############################ SCROLL #######################

::-webkit-scrollbar {
  width: 10px;

  @include lt-sm {
    width: 0px;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--main);
  border: 1px solid rgba(217, 217, 217, 0.46);
}

::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0.46);
}

//############################ FONTS #######################

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Poppin";
  src: url("./Assets/Fonts/Poppins-Black.ttf");
  font-weight: 900;
}
