.main {
  min-height: 100vh;
  padding: 1.5%;
}

.container {
  width: 100%;
  margin: 1.5% 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  .mobile_section,
  .edit_section {
    border-radius: 0.75rem;
  }

  .mobile_section {
    width: 35.25%;
    background-color: var(--comp-background);
    padding: 2% 2%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
  }

  .edit_section {
    width: 63.25%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0px;
    }

    .edit_links_parts {
      background-color: var(--comp-background);
      padding: 2% 2%;

      h1 {
        font-size: 36px;
        font-weight: 700;
        color: var(--title-big);
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: var(--grey1);
        margin: 15px 0px 40px 0px;
      }

      .btn_fw {
        width: 100%;
      }
    }

    .footer_for_save {
      width: 100%;
      margin-top: 3%;
      border-top: solid 1px #d9d9d9;
      padding: 3% 2%;

      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
}
