@use "../../Assets/Scss/media-queries.scss" as *;

.main {
  min-height: 100vh;
  padding: 1.5%;
}

.container {
  width: 100%;
  margin: 1.5% 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  .mobile_section,
  .edit_section {
    border-radius: 0.75rem;

    @include lt-xxl {
      border-radius: 0.55rem;
    }
  }

  .mobile_section {
    width: 35.25%;
    background-color: var(--comp-background);
    padding: 2% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    height: 100vh;
  }

  .edit_section {
    width: 63.25%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0px;
    }

    .edit_links_parts {
      background-color: var(--comp-background);
      padding: 2% 2% 4% 2%;

      h1 {
        font-size: 36px;
        font-weight: 700;
        color: var(--title-big);

        @include lt-xxl {
          font-size: 32px;
        }
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: var(--grey1);
        margin: 15px 0px 40px 0px;

        @include lt-xxl {
          font-size: 17px;
          margin: 10px 0px 30px 0px;
        }
      }

      .btn_fw {
        width: 100%;
      }
    }

    .footer_for_save {
      width: 100%;
      margin-top: 3%;
      border-top: solid 1px #d9d9d9;
      padding: 3% 2%;

      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
}

.img_uploader {
  width: 100%;
  background-color: var(--page-background);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  border-radius: 8px;

  @include lt-xxl {
    padding: 20px 20px;
  }

  .left {
    span {
      color: var(--grey1);
      font-size: 16px;
      font-weight: 400;

      @include lt-xxl {
        font-size: 15px;
      }
    }
  }

  .right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lt-xxl {
      width: 45%;
    }

    @include lt-lg {
      width: 60%;
    }

    .img_input {
      aspect-ratio: 1/1;
      height: 180px;
      background-color: var(--light-purple);
      border: solid 1px var(--normal-purple);
      margin: 0px 20px 0px 0px;
      border-radius: 8px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include lt-xxl {
        height: 160px;
      }

      @include lt-lg {
        height: 140px;
      }

      cursor: pointer;

      input {
        display: none;
      }

      img {
        height: 45px;

        @include lt-xxl {
          height: 40px;
        }

        @include lt-lg {
          height: 35px;
        }
      }

      span {
        color: #000;
        font-size: 16px;

        @include lt-xxl {
          font-size: 14px;
          margin-top: 5px;
        }

        @include lt-lg {
          font-size: 12px;
          margin-top: 3px;
        }
      }
    }

    span {
      color: var(--grey1);
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.form {
  width: 100%;
  background-color: var(--page-background);
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 8px;

  .input_section {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      span {
        color: var(--grey1);
        font-size: 16px;
        font-weight: 400;

        @include lt-xxl {
          font-size: 15px;
        }
      }
    }

    .right {
      width: 40%;

      @include lt-xxl {
        width: 45%;
      }

      @include lt-lg {
        width: 60%;
      }
    }
  }
}
