.main {
  min-height: 100vh;
  padding: 1.5%;
}

.container {
  width: 100%;
  margin: 1.5% 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;

  .mobile_section,
  .edit_section {
    border-radius: 0.75rem;
    background-color: var(--comp-background);
  }

  .mobile_section {
    width: 35.25%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .edit_section {
    width: 63.25%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 2% 2%;

    h1 {
      font-size: 36px;
      font-weight: 700;
      color: var(--title-big);
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: var(--grey1);
      margin: 15px 0px 40px 0px;
    }

    .btn_fw {
      width: 100%;
    }
  }
}
